eureka:
    client:
        fetch-registry: false
        register-with-eureka: false
        service-url:
            defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    instance:
        hostname: localhost
    server:
        enable-self-preservation: false
server:
    port: 8761
spring:
    application:
        name: service-discovery
